pipeline/aztraining_adf_copydata_df.json
{
	"name": "aztraining_adf_copydata_df",
	"properties": {
		"description": "this pipeline is used to copy data from raw zone to structured zone ",
		"activities": [
			{
				"name": "Raw to struct data copy",
				"description": "raw to struct data copy in adf",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"dataIntegrationUnits": 8
				},
				"inputs": [
					{
						"referenceName": "Binary_blob_training_ds",
						"type": "DatasetReference",
						"parameters": {
							"FileName_ds": {
								"value": "@pipeline().globalParameters.FileName",
								"type": "Expression"
							},
							"Env": {
								"value": "@pipeline().globalParameters.Env",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Binary_adls_training_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete raw zone data",
				"description": "this will delete the data from source blob after successfully processed files ",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Raw to struct data copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_blob_training_ds",
						"type": "DatasetReference",
						"parameters": {
							"FileName_ds": {
								"value": "@pipeline().globalParameters.FileName",
								"type": "Expression"
							},
							"Env": {
								"value": "@pipeline().globalParameters.Env",
								"type": "Expression"
							}
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage_ls",
							"type": "LinkedServiceReference"
						},
						"path": "runlogs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary_Getmetatdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_condition",
				"description": "this activity will filter the list of files ",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_blob').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(activity('Get Metadata_blob').output.childItems[0].name,item().name)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline_Email_Notification",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Get Metadata_blob",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Filter_condition",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Raw to struct data copy",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Delete raw zone data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EmailNotification_Pipelines",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"receiver": {
							"value": "eclasserasureshaz@outlook.com",
							"type": "Expression"
						},
						"SourceFile": {
							"value": "LNDG_TYCO_CUST_CONVIT.txt",
							"type": "Expression"
						},
						"Status": {
							"value": "\"Fail\"",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline_Email_Notification_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Delete raw zone data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EmailNotification_Pipelines",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"receiver": {
							"value": "eclasserasureshaz@outlook.com",
							"type": "Expression"
						},
						"SourceFile": {
							"value": "LNDG_TYCO_CUST_CONVIT.txt",
							"type": "Expression"
						},
						"Status": {
							"value": "\" pipeline Run Success\"",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"TokenID": {
				"type": "String"
			},
			"Value": {
				"type": "String"
			},
			"Runtokenvalue": {
				"type": "String"
			},
			"TokenPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azuretraining"
		},
		"annotations": []
	}
}