pipeline/aztraining_adf_fail_df.json
{
	"name": "aztraining_adf_fail_df",
	"properties": {
		"activities": [
			{
				"name": "Fail_jobparam",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Lookup_jobparmfile",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "{\n\n\"pipelineName\" : \"aztraining_adf_fail_df\"\n\"type\" : \"Failure Message\"\n\"ErrorCode\" : \"500\"\n}",
						"type": "Expression"
					},
					"errorCode": {
						"value": "500",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_jobparmfile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json_jobparam",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Metadata_jobparam",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup_jobparmfile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1_dsjobparam",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Append variable1_Example",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata_jobparam",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Append_Test",
					"value": {
						"value": "@activity('Get Metadata_jobparam').output.itemName",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Append_Test": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}