pipeline/aztraining_adf_foreach_example.json
{
	"name": "aztraining_adf_foreach_example",
	"properties": {
		"description": "this pipeline is used to copy data in iterative loop ",
		"activities": [
			{
				"name": "Get Metadata_blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Getmetadata_Dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Iterate each file_ForEach loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata_blob').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data_Foreach loop",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.txt",
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary_copy_foreach",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Binary_Forch_Adls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			}
		},
		"variables": {
			"TokenID": {
				"type": "String"
			},
			"Value": {
				"type": "String"
			},
			"Runtokenvalue": {
				"type": "String"
			},
			"TokenPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Azuretraining"
		},
		"annotations": []
	}
}