pipeline/Onetime_View_Creation_Notebook.json
{
	"name": "Onetime_View_Creation_Notebook",
	"properties": {
		"description": "This is a common ADF pipeline that will be used to execute the onetime VIEW creation notebooks.\nparameter file_name should be genetic",
		"activities": [
			{
				"name": "Read_Env_File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Read_Env_File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@concat(pipeline().parameters.Notebookpath,'/',pipeline().parameters.Notebookname)",
						"type": "Expression"
					},
					"baseParameters": {
						"env": {
							"value": "@activity('Read_Env_File').output.firstRow.azure_env",
							"type": "Expression"
						},
						"adls_storage_cntner": {
							"value": "@string(activity('Read_Env_File').output.firstRow.adls_storage_cntner)",
							"type": "Expression"
						},
						"feed_name": {
							"value": "@pipeline().parameters.feed_name",
							"type": "Expression"
						},
						"filename": {
							"value": "@pipeline().parameters.file_name",
							"type": "Expression"
						},
						"adb_par": {
							"value": "@string(activity('Read_Env_File').output.firstRow.adb_par)",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_ls",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Email_Notify_Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Notebook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EmailNotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "@concat('Onetime notebook execution is successful')",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "@activity('Read_Env_File').output.firstRow.succ_email_to",
							"type": "Expression"
						},
						"SourceFile": {
							"value": "NA",
							"type": "Expression"
						},
						"Status": "Success"
					}
				}
			},
			{
				"name": "Email_Notify_Failure",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Notebook",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EmailNotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "@concat('The pipeline has encountered an error. Please check the logs for more details. ')",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "@activity('Read_Env_File').output.firstRow.fail_email_to",
							"type": "Expression"
						},
						"SourceFile": {
							"value": "NA",
							"type": "Expression"
						},
						"Status": "Fail"
					}
				}
			},
			{
				"name": "Email_Notify_09",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Read_Env_File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EmailNotification",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Message": {
							"value": "@concat('Could not find or unable to read job params json file. Please check the logs for more details.')",
							"type": "Expression"
						},
						"EmailTo": {
							"value": "DL_BA_Finance@aa.com",
							"type": "Expression"
						},
						"SourceFile": {
							"value": "NA",
							"type": "Expression"
						},
						"Status": "Fail"
					}
				}
			}
		],
		"parameters": {
			"Notebookpath": {
				"type": "string",
				"defaultValue": "/rvact/dev/onetime/"
			},
			"Notebookname": {
				"type": "string",
				"defaultValue": "CDC_Onetime_View_Creation"
			},
			"feed_name": {
				"type": "string",
				"defaultValue": "AGDECURR"
			},
			"file_name": {
				"type": "string",
				"defaultValue": "RAC_AGDECURR_20210317000000.dat.gz"
			}
		},
		"folder": {
			"name": "DevOps"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-18T15:45:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}