pipeline/pipelin_Untilactivity_Test.json
{
	"name": "pipelin_Untilactivity_Test",
	"properties": {
		"activities": [
			{
				"name": "Until_Testpipeline",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IDentity_set1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Identity_Set2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(int(variables('ID1')),int(variables('ID2')))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipelin_Until",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "aztraining_adf_copydata_df",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set variable_unil",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Pipelin_Until",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ID1",
								"value": "70"
							}
						}
					],
					"timeout": "0.00:02:00"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 60
				}
			},
			{
				"name": "IDentity_set1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID1",
					"value": {
						"value": "50",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Identity_Set2",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ID2",
					"value": {
						"value": "60",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ID1": {
				"type": "String"
			},
			"ID2": {
				"type": "String"
			}
		},
		"annotations": []
	}
}