eclasseraadf/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "eclasseraadf"
		},
		"AzureDataLakeStorage_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://azuredataadlsdev.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Blob_work')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "work"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_opy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "structzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Getmetadata_Dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "LNDG_TYCO_CUST_CONVIT.txt",
						"container": "rawzone"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "job_param.json",
						"container": "config"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json_jobparam')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "job_param.json",
						"container": "rawblob"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"azure_env": {
							"type": "string"
						},
						"_subscription_id_comment": {
							"type": "string"
						},
						"subscription_id": {
							"type": "string"
						},
						"res_grp": {
							"type": "string"
						},
						"adls_storage_act": {
							"type": "string"
						},
						"adls_storage_cntner": {
							"type": "string"
						},
						"adls_storage_cntner_pii": {
							"type": "string"
						},
						"adls_storage_cntner_spii": {
							"type": "string"
						},
						"mosaic_env": {
							"type": "string"
						},
						"mosaic_uid": {
							"type": "string"
						},
						"fail_email_to": {
							"type": "string"
						},
						"succ_email_to": {
							"type": "string"
						},
						"reject_email_to": {
							"type": "string"
						},
						"dataMigration_transient_dls": {
							"type": "string"
						},
						"dataMigration_cntner": {
							"type": "string"
						},
						"dataMigration_local_cntner": {
							"type": "string"
						},
						"sleep_time": {
							"type": "string"
						},
						"max_elapsed_time": {
							"type": "string"
						},
						"dataMigrationType": {
							"type": "string"
						},
						"_rawContainer_comment": {
							"type": "string"
						},
						"adb_par": {
							"type": "object",
							"properties": {
								"local_storage_act": {
									"type": "string"
								},
								"service_principle_clientid": {
									"type": "string"
								},
								"service_principle_directory_id": {
									"type": "string"
								},
								"databricks_scopename": {
									"type": "string"
								},
								"keyvault_secret_name": {
									"type": "string"
								},
								"teradata_secret_name": {
									"type": "string"
								},
								"eventhub_connection_string": {
									"type": "string"
								},
								"gpgkey_secret_name": {
									"type": "string"
								}
							}
						},
						"YQYR_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"CODESHRI_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"CODESHRO_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"AGMMTKTS_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"REVDBOOK_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"AGDESCIT_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"AGMMASTR_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"AGDECURR_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"OPEN_COUPONS_CY_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"OPEN_COUPONS_PY_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RECEIPTS_FARE_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RECEIPTS_TAX_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RECEIPTS_FOP_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RECEIPTS_TAX_CODE_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RESPIN_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"RESPONSE_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"HOST_TCN_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_struct_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_prep_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"header_width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"header_struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"HOST_TCN_HEADER_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"VOUCHR_ISSUENCE_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"VOUCHR_REDMPTN_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"VOUCHR_INLIEUOF_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"IDECPAY_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"IDECRECV_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"ESALIN_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"AGDENAME_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"pii_struct_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_prep_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"spii_ind": {
									"type": "string"
								},
								"spii_struct_attributes": {
									"type": "null"
								},
								"spii_prep_attributes": {
									"type": "null"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"OPEN_COUPONS_SUPPLEMENTAL_CY_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"OPEN_COUPONS_SUPPLEMENTAL_PY_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"OPEN_COUPONS_SUPPLEMENTAL_PY2_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"REFUNDED_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"pii_struct_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_prep_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"spii_ind": {
									"type": "string"
								},
								"spii_struct_attributes": {
									"type": "null"
								},
								"spii_prep_attributes": {
									"type": "null"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"BSP_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_columns": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_struct_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_prep_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"header_width": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								},
								"header_ind": {
									"type": "string"
								},
								"email_to": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"header_struct_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"mosaic_wrk_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"spii_ind": {
									"type": "string"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						},
						"REQUESTS_feed_info": {
							"type": "object",
							"properties": {
								"file_type": {
									"type": "string"
								},
								"file_header": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"struct_columns": {
									"type": "string"
								},
								"delimiter": {
									"type": "string"
								},
								"header_ind": {
									"type": "string"
								},
								"trailer_ind": {
									"type": "string"
								},
								"header_prefix": {
									"type": "string"
								},
								"trailer_prefix": {
									"type": "string"
								},
								"header_parsing_ind": {
									"type": "string"
								},
								"trailer_parsing_ind": {
									"type": "string"
								},
								"mosaic_load_ind": {
									"type": "string"
								},
								"data_file_extn": {
									"type": "string"
								},
								"struct_table": {
									"type": "string"
								},
								"prep_table": {
									"type": "string"
								},
								"struct_partition_col": {
									"type": "string"
								},
								"count_audit_check_ind": {
									"type": "string"
								},
								"header_position": {
									"type": "string"
								},
								"trailer_position": {
									"type": "string"
								},
								"trailer_rec_count_start": {
									"type": "string"
								},
								"trailer_rec_count_end": {
									"type": "string"
								},
								"trailer_count_match_value": {
									"type": "string"
								},
								"prep_load_ind": {
									"type": "string"
								},
								"encryption_ind": {
									"type": "string"
								},
								"pii_ind": {
									"type": "string"
								},
								"pii_struct_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"pii_prep_attributes": {
									"type": "array",
									"items": {
										"type": "string"
									}
								},
								"spii_ind": {
									"type": "string"
								},
								"spii_struct_attributes": {
									"type": "null"
								},
								"spii_prep_attributes": {
									"type": "null"
								},
								"file_frequency_check_ind": {
									"type": "string"
								},
								"file_frequency": {
									"type": "string"
								},
								"file_reoccurence": {
									"type": "string"
								},
								"raw_container": {
									"type": "string"
								},
								"raw_folder": {
									"type": "string"
								},
								"private_key_file_name": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_opy')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "rawzone"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Key",
						"type": "String"
					},
					{
						"name": "PolicyNumber",
						"type": "String"
					},
					{
						"name": "BirthDate",
						"type": "String"
					},
					{
						"name": "SSN",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Address1",
						"type": "String"
					},
					{
						"name": "Address2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "Zip5",
						"type": "String"
					},
					{
						"name": "Zip4",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfdeploy_adls_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "rawzone"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adfdeplyblob_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "azuredeploy.json",
						"container": "rawzone"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"$schema": {
							"type": "string"
						},
						"contentVersion": {
							"type": "string"
						},
						"parameters": {
							"type": "object",
							"properties": {
								"name": {
									"type": "object",
									"properties": {
										"type": {
											"type": "string"
										},
										"defaultValue": {
											"type": "string"
										}
									}
								},
								"apiVersion": {
									"type": "object",
									"properties": {
										"type": {
											"type": "string"
										},
										"defaultValue": {
											"type": "string"
										}
									}
								}
							}
						},
						"resources": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"apiVersion": {
										"type": "string"
									},
									"name": {
										"type": "string"
									},
									"location": {
										"type": "string"
									},
									"type": {
										"type": "string"
									},
									"identity": {
										"type": "object",
										"properties": {
											"type": {
												"type": "string"
											}
										}
									},
									"properties": {
										"type": "object"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_FileLanding')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().sourceFileName",
							"type": "Expression"
						},
						"container": "landing"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_FileMigration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceFileName": {
						"type": "string"
					},
					"folderName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().sourceFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderName",
							"type": "Expression"
						},
						"container": "migration"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adf_param')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "job_param_Historymigration.json",
						"container": "config"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/jobparamlookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Jobparam.txt",
						"container": "transiant"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "env",
						"type": "String"
					},
					{
						"name": "blob_path",
						"type": "String"
					},
					{
						"name": "ADLS_PATH",
						"type": "String"
					},
					{
						"name": "Token_id",
						"type": "String"
					},
					{
						"name": "Param_path",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This is to connect ADLS G2 storage account",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage_ls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_training",
							"type": "LinkedServiceReference"
						},
						"secretName": "azuretrainingsecreat",
						"secretVersion": "03a5781fbb7f4a2c856af6fba3c43938"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_V6_4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This will use the run time 6.4 cluster",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7339348852698591.11.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "ba-n-rvact-001-adbtoken-secret"
					},
					"existingClusterId": "0222-202204-flora568"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7339348852698591.11.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault_ls",
							"type": "LinkedServiceReference"
						},
						"secretName": "ba-n-rvact-001-adbtoken-secret"
					},
					"existingClusterId": "0406-221726-guess351"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_onetimecopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_opy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "rawzone//"
							},
							{
								"name": "Destination",
								"value": "structzone//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"maxConcurrentConnections": 10,
									"recursive": true,
									"modifiedDatetimeStart": "2022-06-09T00:00:00.013Z",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"maxConcurrentConnections": 10
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage_ls",
										"type": "LinkedServiceReference"
									},
									"path": "runlogs"
								}
							},
							"dataIntegrationUnits": 16
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_opy",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_opy",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Azuretraining"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_opy')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_opy')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmailNotification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This pipeline will send an email notification",
				"activities": [
					{
						"name": "SendEmail",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod-95.eastus.logic.azure.com:443/workflows/8f214fed9cfe41e3abb5f0b81ea3ef06/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=IxdWfrleWW-nvUPu7VHZdN5DH9e-Hzhvf1hpA5vcJtA",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\r\n    \"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\r\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \r\n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \r\n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\r\n   }",
								"type": "Expression"
							},
							"linkedServices": [
								{
									"referenceName": "AzureDataLakeStorage_ls",
									"type": "LinkedServiceReference"
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DataFactoryName": {
						"type": "string",
						"defaultValue": "Default"
					},
					"PipelineName": {
						"type": "string",
						"defaultValue": "Default"
					},
					"Message": {
						"type": "string",
						"defaultValue": "Default"
					},
					"receiver": {
						"type": "string",
						"defaultValue": "Default"
					},
					"SourceFile": {
						"type": "string",
						"defaultValue": "Default"
					}
				},
				"folder": {
					"name": "LogicApp_EmailNotify"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-18T16:21:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EmailNotification_Pipelines')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Email_Notification",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "https://prod2-29.eastus2.logic.azure.com:443/workflows/67cae0b99360404da450c207d5f89588/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=4Wj2YAfbM-UokQivut2TWfbLXqb9ZKh13CY37pJLM3g",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {
								"Content-Type": {
									"value": "application/json",
									"type": "Expression"
								}
							},
							"body": {
								"value": "{\n    \"message\" : \"This is a custom dynamic message from your pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \"receiver\" : \"@{pipeline().parameters.receiver}\"\n   }",
								"type": "Expression"
							},
							"linkedServices": [
								{
									"referenceName": "AzureDataLakeStorage_ls",
									"type": "LinkedServiceReference"
								}
							],
							"turnOffAsync": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"DataFactoryName": {
						"type": "string"
					},
					"PipelineName": {
						"type": "string"
					},
					"Message": {
						"type": "string"
					},
					"receiver": {
						"type": "string"
					},
					"SourceFile": {
						"type": "string"
					},
					"Status": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Azuretraining"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/aztraining_adf_fail_df')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail_jobparam",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Lookup_jobparmfile",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "{\n\n\"pipelineName\" : \"aztraining_adf_fail_df\"\n\"type\" : \"Failure Message\"\n\"ErrorCode\" : \"500\"\n}",
								"type": "Expression"
							},
							"errorCode": {
								"value": "500",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup_jobparmfile",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "Json_jobparam",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Get Metadata_jobparam",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Lookup_jobparmfile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Binary1_dsjobparam",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"itemName"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "Append variable1_Example",
						"type": "AppendVariable",
						"dependsOn": [
							{
								"activity": "Get Metadata_jobparam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "Append_Test",
							"value": {
								"value": "@activity('Get Metadata_jobparam').output.itemName",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"Append_Test": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Azuretraining"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Json_jobparam')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_dataMigration_copyMigrationFileToLanding')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ac_copyMigrationFileToLanding",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_FileMigration",
								"type": "DatasetReference",
								"parameters": {
									"sourceFileName": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									},
									"folderName": {
										"value": "@pipeline().parameters.feed_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_FileLanding",
								"type": "DatasetReference",
								"parameters": {
									"sourceFileName": {
										"value": "@pipeline().parameters.filename",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"filename": {
						"type": "string"
					},
					"feed_name": {
						"type": "string"
					}
				},
				"folder": {
					"name": "History_Migration"
				},
				"annotations": [],
				"lastPublishTime": "2022-06-18T16:21:11Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_FileMigration')]",
				"[concat(variables('factoryId'), '/datasets/ds_FileLanding')]"
			]
		}
	]
}